<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="editProfile.css">
</head>
<body>
    
    <form action="" class="card">
        <h1>Profile</h1>
    <table>
        
            <table>
                <tr>
                    <td><img src="pngwing.com.png" alt="Profile photo"></td>
                    <td><input type="text"  placeholder="First name"> <br>
                        <input type="text"  placeholder="Middle name"><br>
                        <input type="text"  placeholder="last name">
                    </td>
                    </td>
                </tr>
    </table>
    <div><input type="number"  placeholder="Phone number"><div>
        <div><input type="email" placeholder="E-mail"><div>
        <div><input type="number" placeholder="Pin Code"><div>
        <div><textarea placeholder="Address" ></textarea> </div>
    <div> <input type="text" placeholder="Panchayath Name"></div>
    <div><input type="text" placeholder="Admin Id"></div>
    <div class="btn"><a href="changepassword.html"><button type="button">Change Password</button></a>
  <button type="submit" class="save">Save</button></div>
</form>

</body>
</html>