.body1 {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  .container {
    display: flex;
    width: 100%;
  }
  .card1 {
    width: 300px; /* Thin vertical divider */
    height: 500px;
    position: absolute;
    right: 100px;
    background-color: #130230; /* Divider color */
    margin:  10px; /* Space around the divider */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:150px;
    margin-top: 100px;
    border-radius: 10px;
    font-size: 80px;
  
  }
  .car { 
    background-color: #f9f9f9;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    /* width: 70%;
    height:800px;
    max-width: 900px; */
    width: 300px; /* Thin vertical divider */
    height: 500px;
    position: absolute;
    text-align: left;
    transition: 0.3s ease;
}

.car:hover {
    transform: scale(1.05);
}

.car h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.car p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.car h2[style="color: red;"], .card p[style="color: red;"] {
    font-weight: bold;
}

  .con {
    width: 20%;
    padding: 10px;
    background-color: #0B0421;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 2px; /* Thin vertical divider */
    background-color: #333; /* Divider color */
    margin: 0 10px; /* Space around the divider */
  }
  .content {
    width: 78%;
    padding: 20px;
    overflow-y: auto;
  }
  .section {
    display: none;
  }
  .active {
    display: block;
  }
  .profile {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 10px 0;
    border-radius: 100px;
  }
  .profile img {
    width: 50px; 
    height: 50px;
    margin-bottom: 10px; 
    border-radius: 100px;
  }
  
  
  .con a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }
  
  .con a:hover {
    color: #cccccc;
  }
  