/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.body1{
    display: flex;
    justify-content: center;
    align-items: center ;

}




.upload-container {
    text-align: center;
    height: 100px;
    width: 100px;
    margin-right: 25px;
    margin-top: 30px;
    /* border: 1px dashed black; */
    position: relative;
}

.upload-container img{
    position: absolute;
    height: 120px;
    width: 120px;
    right: 0px;
    top: -15px;
    border-radius: 100px;
}

.upload-label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(255, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#file-input{
    display: none;
}



/* .upload-icon {
    font-size: 24px;
} */
.card1{
    border: 2px black solid;
    padding: 50px;
    background-color: rgba(252, 248, 248, 0.604);
    border-radius: 15px;
}
input {
    width: 100%;
    border: none;
    border-bottom: 1px black solid;
    margin-top: 25px;
    background-color: transparent;
    outline: none;
    padding: 5px;
}
textarea
{
    width: 100%;
    border: none;
    border-bottom: 1px black solid;
    margin-top: 25px;
    background-color: transparent;
    outline: none;
    padding: 5px;
} 
h1
{
    text-align: center;
}  
button{
    padding: 8px;
    margin-top: 25px;
    background-color: rgb(2, 26, 74);
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.603);
    transition: 0.5s ease;
    border: none;
    color: rgba(255, 255, 255, 0.664);
}
button:hover{
    background-color: rgba(0, 0, 255, 0.44);
}
.btn{
    display: flex;
    justify-content: center;
    }
.btun
{
    display: flex;
    justify-content:space-between;  
}
.save{
    width: 45%;
}
p
{
 font-size: 20px;
 margin-top: 10px;
 /* border:1px solid rgba(13, 1, 1, 0.377); */

 padding: 5px;
 border-bottom: 1px solid rgba(3, 3, 3, 0.724);

}
.ph
{
    margin-top: 40px;
}

.td{
    font-size: 20px;
    margin-top: 10px;
}