{% comment %} {% extends "AUTHORITY/authoritybase.html" %}
{% block body %} {% endcomment %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
</head>
<body>

   
  
    <div class="card1">
    <form class="card" method='post'>
        {%  csrf_token %}
        <h1 id="head">ADD AUTHORITY</h1> 
        
        <div class="center">
            <label for="user">Authority name</label> <!-- Label for the username input -->
        </div>
        
        <div class="User"> 
            <i class="material-icons person-icon">person</i> <!-- Icon for username field -->
            <input type="text" class="username" name="username" placeholder="Enter username"> <!-- Input for username -->
        </div>
        
        <div class="center">
            <label for="password">Password</label> <!-- Label for the password input -->
            <div class="pass">
                <i class="material-icons lock-icon">lock</i> <!-- Icon for password field -->
                <input type="password" class="password"  name="pass"placeholder="Enter your Password"> <!-- Input for password -->
            </div>
        </div>
        <div class="center">
            <label for="password">Re-Password</label> <!-- Label for the password input -->
            <div class="pass">
                <i class="material-icons lock-icon">lock</i> <!-- Icon for password field -->
                <input type="password" class="password" name="repass" placeholder="Enter your Password"> <!-- Input for password -->
            </div>
        </div>
        
        
        <div>
             <button type="submit" >Add</button> <!-- Button to submit the login form -->
        </div>
        </form>
    </div>
</body>
</html>

{% comment %} {% endblock %} {% endcomment %}