{% extends "AUTHORITY/authoritybase.html" %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Navbar with Sidebar</title>
  <link rel="stylesheet" href="{% static 'css/staff.css' %}">

</head>
<body>

 
  
  <!-- Main content (cards and other sections) -->
  <main id="main-content">
    <form class="card">
 

      <div class="table-container">
        <h2>AUTHORITY</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Sl.no</th>
                    <th>Username</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
              {% for i in obj %}
              <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ i.Username }}</td>
                  <td><a href="/remove_addlist1/{{ i.id }}">Remove</a></td>
                  
              </tr>
             {% endfor %}
            </tbody>
        </table>
        <a href="/authority">View more details</a>
</form>
  </main>
</body>
</html>
{% endblock %}