{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Character encoding for the document -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive design for mobile devices -->
    <title>Document</title> <!-- Title of the document displayed in the browser tab -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!-- Link to Google Material Icons -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> <!-- Link to the external CSS stylesheet for styling -->
</head>
<body>
    <!-- Form container for the login card -->
    <form class="card" method="post">
         {% csrf_token %}
        <h1 id="head">LOGIN</h1> <!-- Main heading for the login form -->
        
        <div class="center">
            <label for="user">User name</label> <!-- Label for the username input -->
        </div>
        
        <div class="User"> 
            <i class="material-icons person-icon">person</i> <!-- Icon for username field -->
            <input type="text" class="username" placeholder="Enter username/E-mail/Phone Number" name="username"> <!-- Input for username -->
        </div>
        
        <div class="center">
            <label for="password">Password</label> <!-- Label for the password input -->
            <div class="pass">
                <i class="material-icons lock-icon">lock</i> <!-- Icon for password field -->
                <input type="password" class="password" placeholder="Enter your Password" name="password"> <!-- Input for password -->
            </div>
        </div>
        
        <div>
             <button type="submit" >Login</button> <!-- Button to submit the login form -->
        </div>
        
        <div id="Forget">
            <a href="#">Forget Password?</a> <!-- Link to reset password -->
        </div>
        
        <div>
            <p>
                Don't have any Account? <a href="sign.html">Sign up</a> <!-- Link to the signup page -->
            </p>
        </div>
    </form>
</body>
</html>
