{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Calendar</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Navbar with logo and title in the center -->
  <div class="navbar">
    <span class="toggle-btn" onclick="toggleSidebar()"><i class="fa fa-bars"></i></span>
    <div class="logo">
      <img src="logo.jpg" alt="Logo">
      <span class="logo-text">AQUA FLOW</span>
    
    </div>
    <span class="prof"><i class="fa-solid fa-user" style="color: #fcfcfd;"></i></span>
  </div>

  <!-- Sidebar with navigation links -->
  <div class="sidebar" id="sidebar">
    <a href="/profile">PROFILE</a>
    <a href="/feedback">FEEDBACK</a>
    <a href="/complaint">COMPLAINTS</a>
    <a href="#chat">CHAT</a>
    <a href="/logout">LOGOUT</a>
  </div>
    <div id="calendar">
        <div id="month">
            <button id="prev">&lt;</button>
            <span id="month-name">August 2024</span>
            <button id="next">&gt;</button>
        </div>
        <div id="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <div id="days"></div>
    </div>
    <script src="javascript.js"></script>
</body>
</html>